<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/CSS/Header.css">
    <link rel="stylesheet" href="/view/CSS/AboutUs.css">
    <title>Hostel Management Information System</title>
</head>


<body>
    <header>
        <img class="img-logo" src="/view/HTML/Img/logo.png">
        <h1>CEM COLLEGE OF ENGINEERING AND TECHNOLOGY, INDIA.</h1>
        <h3>WELCOME TO CEM HOSTEL WEB-PORTAL.</h3>
        <h5>THIS PORTAL PROVIDES COMPLETE INFORMATION ABOUT THE CEM COLLEGE'S HOSTEL FACILITIES.</h5>
    </header>
    <div>
        <ul class="bar-ul">
            <li class="bar-li"><button onclick="location.href='HomePage.html';" class="listButton">HOME</button></li>
            <li class="bar-li"><button onclick="location.href='Gallery.html';" class="listButton">GALLERY</button></li>
            <li class="bar-li"><button onclick="location.href='AluminiReview.html';" class="listButton">ALUMNI REVIEW</button></li>
            <li class="bar-li"><button onclick="location.href='FeesStructure.html';" class="listButton">FEES STRUCTURE</button></li>
            <li class="dropdown"><button class="listButton">REGISTERATION PROCESS</button>
                <ul class="dropdown-content">
                    <li class="dropdown-content-list"><button onclick="location.href='OnlineRegisteration.html';" class="dropdownButton">ONLINE REGISTERATION</button></li>
                    <li class="dropdown-content-list"><button onclick="location.href='OfflineRegisteration.html';" class="dropdownButton">OFFLINE REGISTERATION</button></li>
                </ul>
            </li>
            <li class="bar-li"><button onclick="location.href='NoticeBoard.html';" class="listButton">NOTICE BOARD</button></li>
            <li class="dropdown"><button class="listButton">LOGIN</button>
                <ul class="dropdown-content">
                    <li class="dropdown-content-list"><button onclick="location.href='StudentLogin.html';" class="dropdownButton">STUDENT LOGIN</button></li>
                    <li class="dropdown-content-list"><button onclick="location.href='AdminLogin.html';" class="dropdownButton">ADMIN LOGIN</button></li>
                </ul>
            </li>
            <li class="bar-li"><button onclick="location.href='Feedback.html';" class="listButton">FEEDBACK</button></li>
        </ul>
    </div>
    <div class="about-section">
        <h1>About our college</h1>
        <p>Created collaboratively by members of the RISD community, NEXT, RISD’s seven-year strategic plan (PDF), proposes how we intend to educate students for the future and bring our current creative practices to bear on today’s most critical social,
            political and environmental challenges.</p>
        <p>The mission of CEM college of engineering and technology, through its college and museum, is to educate its students and the public in the creation and appreciation of works of art and design, to discover and transmit knowledge and to make lasting
            contributions to a global society through critical thinking, scholarship and innovation.</p>
    </div>

    <h2 style="text-align:center">Honourable Mentions</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/view/HTML/Img/chairman.jpg" alt="Jana" style="width:100%">
                <div class="container">
                    <h2>Jana</h2>
                    <p class="title">Chairman</p>
                    <p>jana@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/view/HTML/Img/founder.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Mike</h2>
                    <p class="title">Founder</p>
                    <p>mike@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="/view/HTML/Img/principal.jpg" alt="Geetha" style="width:100%;height: 296px;">
                <div class="container">
                    <h2>Geetha</h2>
                    <p class="title">Principal</p>
                    <p>Geetha@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/view/JavaScript/Feedback.js"></script>
</body>

</html>