<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/CSS/Header.css">
    <link rel="stylesheet" href="/view/CSS/AluminiReview.css">
    <title>Hostel Management Information System</title>
</head>


<body>
    <header>
        <img class="img-logo" src="/view/HTML/Img/logo.png">
        <h1>CEM COLLEGE OF ENGINEERING AND TECHNOLOGY, INDIA.</h1>
        <h3>WELCOME TO CEM HOSTEL WEB-PORTAL.</h3>
        <h5>THIS PORTAL PROVIDES COMPLETE INFORMATION ABOUT THE CEM COLLEGE'S HOSTEL FACILITIES.</h5>
    </header>
    <div>
        <ul class="bar-ul">
            <li class="bar-li"><button onclick="location.href='HomePage.html';" class="listButton">HOME</button></li>
            <li class="bar-li"><button onclick="location.href='Gallery.html';" class="listButton">GALLERY</button></li>
            <li class="bar-li"><button style="background-color: rgb(34, 32, 54); color: white;" onclick="location.href='#';" class="listButton">ALUMNI REVIEW</button></li>
            <li class="bar-li"><button onclick="location.href='FeesStructure.html';" class="listButton">FEES STRUCTURE</button></li>
            <li class="dropdown"><button class="listButton">REGISTERATION PROCESS</button>
                <ul class="dropdown-content">
                    <li class="dropdown-content-list"><button onclick="location.href='OnlineRegisteration.html';" class="dropdownButton">ONLINE REGISTERATION</button></li>
                    <li class="dropdown-content-list"><button onclick="location.href='OfflineRegisteration.html';" class="dropdownButton">OFFLINE REGISTERATION</button></li>
                </ul>
            </li>
            <li class="bar-li"><button onclick="location.href='NoticeBoard.html';" class="listButton">NOTICE BOARD</button></li>
            <li class="dropdown"><button class="listButton">LOGIN</button>
                <ul class="dropdown-content">
                    <li class="dropdown-content-list"><button onclick="location.href='StudentLogin.html';" class="dropdownButton">STUDENT LOGIN</button></li>
                    <li class="dropdown-content-list"><button onclick="location.href='AdminLogin.html';" class="dropdownButton">ADMIN LOGIN</button></li>
                </ul>
            </li>
            <li class="bar-li"><button onclick="location.href='Feedback.html';" class="listButton">FEEDBACK</button></li>
        </ul>
    </div>
    <div class="arti">
        <h2 style="text-align: center;">ALUMNI REVIEW</h2>
        <h3> Ajay (2010-2014) : </h3>
        <p>I had a lovely, relaxing time at this place. It was everything I needed and wanted from a hostel and very new, clean and homely. The staff member treated me very well and was very pleasant. I would highly recommend staying here and will definitely
            return.
        </p>
        <h3> Mani (2011-2015) : </h3>
        <p>Hi I recently went on Holidays in Donegal and stayed with Tullyarvan Mill Hostel. On arrival I was greeted by a Friendly member of Staff. For me it was Ideal location very close to the beaches and the town of Buncranna. The Hostel had its own
            Kitchen to cook my own meals and very clean also the room and showers were. Great value for me as on a budget Holiday and I really good Holidays. Thank you making my stay a happy one!!</p>
        <h3>Kasi (2014-2018) : </h3>
        <p>
            Once again we had a very good stay at Tulyarvan mill. The location is perfect for the areas we wished to visit. The room was nice and clean and facilities for cooking more than sufficient and the shared areas were kept clean while we were there at all
            times. There was no noise nor disturbances . Staff were available and helpful. We will definitely choose to come back again.
        </p>
        <h3>Loki (2000-2004) : </h3>
        <p>
            We had a really good experience here. We spend one night and it was unforeseen, because we had a host from couchsurfing who at the last minute cancelled the stay. In Tullyarvan Mill Hostel we found a warm bed, kind staff and good rest. If u like good
            food, try Oscar’s in Buncrana, you won’t regret it! Thank you so much for everything, good luck and I hope we’ll see each other again.
        </p>
    </div>
    <script src="/view/JavaScript/Feedback.js"></script>
</body>

</html>