<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/CSS/HomePage.css">
    <title>Hostel Management Information System</title>
</head>


<body>
    <header>
        <img class="img-logo" src="/view/HTML/Img/logo.png">
        <h1>CEM COLLEGE OF ENGINEERING AND TECHNOLOGY, INDIA.</h1>
        <h3>WELCOME TO CEM HOSTEL WEB-PORTAL.</h3>
        <h5>THIS PORTAL PROVIDES COMPLETE INFORMATION ABOUT THE CEM COLLEGE'S HOSTEL FACILITIES.</h5>
    </header>
    <div>
        <ul class="bar-ul">
            <li class="bar-li"><button onclick="location.href='#';" style="background-color: rgb(34, 32, 54); color: white;" class="listButton">HOME</button></li>
            <li class="bar-li"><button onclick="location.href='Gallery.html';" class="listButton">GALLERY</button></li>
            <li class="bar-li"><button onclick="location.href='AluminiReview.html';" class="listButton">ALUMNI REVIEW</button></li>
            <li class="bar-li"><button onclick="location.href='FeesStructure.html';" class="listButton">FEES STRUCTURE</button></li>
            <li class="dropdown"><button class="listButton">REGISTERATION PROCESS</button>
                <ul class="dropdown-content">
                    <li class="dropdown-content-list"><button onclick="location.href='OnlineRegisteration.html';" class="dropdownButton">ONLINE REGISTERATION</button></li>
                    <li class="dropdown-content-list"><button onclick="location.href='OfflineRegisteration.html';" class="dropdownButton">OFFLINE REGISTERATION</button></li>
                </ul>
            </li>
            <li class="bar-li"><button onclick="location.href='NoticeBoard.html';" class="listButton">NOTICE BOARD</button></li>
            <li class="dropdown"><button class="listButton">LOGIN</button>
                <ul class="dropdown-content">
                    <li class="dropdown-content-list"><button onclick="location.href='StudentLogin.html';" class="dropdownButton">STUDENT LOGIN</button></li>
                    <li class="dropdown-content-list"><button onclick="location.href='AdminLogin.html';" class="dropdownButton">ADMIN LOGIN</button></li>
                </ul>
            </li>
            <li class="bar-li"><button onclick="location.href='Feedback.html';" class="listButton">FEEDBACK</button></li>
        </ul>
    </div>
    <div class="divbox">
        <section>
            <nav class="side-bar">
                <pre>
                    <ul style="margin-top: 0px;">
                        <li><a href="StudentLogin.html"><strong>STUDENT LOGIN</strong></a></li>
                        <li><a href="AdminLogin.html"><strong>ADMIN LOGIN</strong></a></li>
                        <li><a href="AboutUs.html"><strong>ABOUT US</strong><a></li>
                        <li><a href="ContactDetails.html"><strong>CONTACT DETAILS</strong><a></li>
                        <li><a href="OnlineRegisteration.html"><strong>APPLY ONLINE</strong><a></li>
                      </ul>
                </pre>
            </nav>
            <article class="arti">
                <h2>CEM HOSTEL IMAGES</h2>
                <img class="clg-img" src="/view/HTML/Img/R.jpeg" alt="">
                <img class="clg-img" src="/view/HTML/Img/Main-Hostel.jpg" alt="">
                <img class="clg-img" src="/view/HTML/Img/OIP.jpeg" alt="">
            </article>
        </section>
    </div>
    <script src="/view/JavaScript/HomePage.js"></script>
</body>

</html>